/* ==========================================================================
 Sidebar
========================================================================== */

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: $sidebar-bg;
    width: $sidebar-width;
    z-index: $sidebar-z-index;


    &__userinfo {

    }
}
