######################
# Project Specific
######################

######################
# Node
######################
/node/**
/node_tmp/**
/node_modules/**

######################
# SASS
######################
.sass-cache/**

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini